<img class="animated .bounceOutDown" src='img/loan.jpg' alt='A photo of a loan stamp.'/>
<h1>Here is your amount:</h1>
  <!-- <h2><%= @accounts %></h2> -->
  <h3>Requested loans</h3>
  <%=@name %>: your loan of
  amount <%= @amount %> payable in <%= @month %> months is liable to return <%= @interest %>1,120000
